#video_container {
  width: 100%;
  height: 100%;
  left: -2px;
  top: 0px;
  position: absolute;
}

video{
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) and (min-aspect-ratio: 16/9){
  @supports (object-fit: fill){
    video{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

body{
  background-color: rgb(131, 131, 131);
  font-family: 'Alegreya-sans', Georgia, serif;
  overflow: hidden;
}

@font-face {
  font-family: royalfont;
  src: url('../fonts/alsscrp.ttf')
}

@font-face {
  font-family: Alegreya-sans;
  src: url('../fonts/alegreya-sans.thin.ttf');
}

#header {
  background: rgba(46, 30, 1, 0.41);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper {
  text-align: center;
}

.progress{
  position: fixed;
  height: 3px;
  width: 0%;
}

.progress.buffered{
  background-color: rgb(166, 166, 166);
}

.progress.playing{
  background-color: rgb(200, 27, 80);
}

.normal-height{
  height: 2px;
}
.hover-height{
  height: 4px;
}

.title {
  color: white;
  font-size: 2.7em;
  letter-spacing: 4px;
  top: 15px;
  width: 100%;
  margin: 12px 0 12px 0;
  opacity: 0.7;
}

.nav {
  background: rgba(46, 30, 1, 0.41);
  bottom: 0;
  font-size: 30px;
  margin: 0;
  padding: 0.4em 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1000;
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.nav a {
  color: white;
  font-size: 14px;
  margin: 0px 30px 0px 30px;
  text-decoration: none;
}

ul.actions {
  z-index: 10000;
  position: absolute;
  list-style-type: none;
}
ul.actions li {
  /* float: right; */
  margin-top: 30px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
li.hd-switch a {
  font-size: 14px;
  margin: 0px;
  text-decoration: none;
  padding: 6px 5px 6px 5px;
  border-radius: 16px;
  /* font-weight: bold; */
  font-family: arial;
}

ul li.hd-switch{
  float:right;
}

a.hd-switch{
  padding: 5px;
  border-radius: 6px;
}

a.hd {
  border: 2px solid black;
  box-shadow: 0px 0px 10px black;
  color: white;
}

a.non-hd {
  border: 2px solid black;
  color: white;
}

li.play-status.playing {
  background-image: url('../images/media_pause_inv.png');
  background-size: 83%;
  background-position: 3px;
}

li.play-status {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

li.play-status.paused {
  background-image: url('../images/media_play_inv.png');
  background-size: 84%;
  background-position: 4px;
}

.content .names {
  position: absolute;
  top:10%;
  width:100%;
  text-align: center;
  color: white;
  font-size: 120px;
  background: -webkit-linear-gradient(#ffc0c0, #ff4000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px black;
  -webkit-animation: names-animate 10s;
  opacity: 0.4;
}

@-webkit-keyframes names-animate {
  from{-webkit-filter: blur(40px);}
  to{-webkit-filter: blur(1px);}
}

div.mobile-play {
  background-image: url('../images/circle_outline_play.png');
  position: absolute;
  left: 43%;
  top: 40%;
  width: 128px;
  height: 128px;
  opacity: 0.7;
  cursor: pointer;
}
